body {
    background-image: url(../images/pipes/pipes.png);
}

.jumbotron {
    text-align: center;
    background-color: #305582;
    color: #B9E3F3;
}

.sectionHeader {
    background-color: #6B3A4A;
    margin-right: -15px;
    margin-left: -15px;
    padding: 10px;
    padding-left: 15px;
    color: white;
    border-bottom: 1px #19233D solid;
    border-radius: 5px 5px 0px 0px;
}

#train-schedule {
    border: 1px #19233D solid;
    border-radius: 5px;
    background-color: white;
}

#addTrain {
    border: 1px #19233D solid;
    padding-bottom: 20px;
    margin-bottom: 50px;
    border-radius: 5px;
    background-color: white;
}

#submitButton {
    margin-right: -15px;
    background-color: #305582;
    color: #B9E3F3;
}

footer {
    color: #B9E3F3;
    background-color: #19233D;
    padding-top: 20px;
    padding-left: 10px;
    font-size: 12px;
}